.project-list {
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 8px;
}

.project-list div {
    display: flex;
    width: 100%;
    gap: 12px;
    align-items:flex-end;
    
}



.project-list>a {
    color: var(--silver);
    text-decoration: none;
    transition: .2s ease;
}

.project-list>a:hover {
    border: 1px solid var(--violet);
    background-color: rgba(227, 185, 255, 0.055);
    width: 101%;
}