.project-list {
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 8px;
    width: 100%;
}

.project-list div {
    display: flex;
    width: 100%;
    gap: 12px;
    align-items:flex-end;
    
}

.project-list>a {
    color: var(--silver);
    text-decoration: none;
    transition: .2s ease;
}

.project-list>a:hover {
    border: 1px solid var(--violet);
    background-color: rgba(227, 185, 255, 0.055);
    width: 101%;
}

/* project template */
.rowFlex {
    display: flex;
    gap: 12px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.projectNav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.sidebar a {
    font-size: 14px;
    color: var(--bright-grey);
    text-decoration: none;
}

.sidebar a:hover {
    font-style: italic;
}

.projectWindow {
    width: 100%;
    display: flex;
    gap: 8px;
    overflow-y: auto;
}

.gallery {
    margin: 4px;
    grid-template-columns: auto auto;
    max-width: 100%;
    align-content: center;
}

.gallery img {
    width: 100%;
}

.projectBody {
    width: 100%;
}

.projectBody p {
    font-size: 14px;
}

@media screen and (max-width: 400px) {
    .rowFlex {
        flex-wrap: wrap-reverse;
        gap: 12px;
    }

    .sidebar {
        width: 100%;
    }

    .projectWindow {
        flex-wrap: wrap;
    }

    .gallery {
        grid-template-columns: auto;
    }
}