:root {
    --violet:#AD91C4;
    --dark-violet: #463752;
    --blue-green:#25BBC5;
    --lemon: #CFA726;
    --kobi: #DC9EC0;
    --eerie: #17191C;
    --charleston: #292B2F;
    --dim-grey: #696B6C;
    --bright-grey: #EBEDEE;
    --pale-silver: #D1CBB4;
}

body {
    background-color: var(--eerie);
    background-image: url(../images/texture.png);

    
    font-family: inclusive;
}

.wrapper {
    min-width: 320px;
    max-width: 600px;
    margin: auto;
    padding: 12px;
    color: var(--bright-grey);

    background-color: var(--eerie);
    border-left: 1px solid rgba(0, 0, 0, 0.171);
    border-right: 1px solid rgba(0, 0, 0, 0.171);
}
/* navigation */
.topBar {
    background-color: var(--eerie);
    padding: 12px;
    border-bottom: 1px dashed var(--charleston);
}
.navi {
    display: flex;
    justify-content: right;
    gap: 12px;
    min-width: 320px;
    max-width: 600px;
    margin: auto;

    
}

.navi a {
    color: var(--bright-grey);
    text-decoration: none;
    transition: .5s ease;
}

.navi a:hover {
    font-size: 18px;
    text-decoration: underline;
}

/* header */

.heading > h1 {
    font-family: heal-web;
    letter-spacing: 1px;
}

/* project */
    
.projects {
    line-height: 16px;
}

.projectBox {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.projectGallery {
    display: flex;
    /* border: 2px solid var(--violet); */
    gap: 8px;
}

.projectGallery img {
    width: 100%;
    transition: .3s ease-out;
}

.projectGallery > div {
    border: 1px solid transparent;
}

.projectGallery a {
    color: var(--eerie);
    text-align: center;
    text-decoration: none;
}

.projectGallery a:hover {
    text-decoration: underline;
}

.overlay {
    padding: 4px;
    opacity: 0;
    transition: .5s ease;
    background-color: var(--violet);
}

.projectGallery > div:hover {
    border: 1px solid var(--dark-violet);
}

.projectGallery > div:hover .overlay{
    opacity: 1;
}
.projectGallery > div:hover img {
    width: 102%;
}
.overlay > .text {
    color: var(--eerie)
}

/* contact */

.contact a {
    color: var(--blue-green);
}

.contact .text {
    line-height: 12px;
}

/* about */

.about {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    align-items:start;
    padding-bottom: 12px;
}

.profilePic {
    grid-column: span 2 / span 2;
}

.profilePic img {
    width: 100%;
}

.profileText {
    grid-column: span 3 / span 3;
    grid-column-start: 3;
    padding-left: 8px;
}

div img {
    width: 100%;
}

/* footer */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}

.socials {
    display: flex;
}

.socials a {
    color: var(--bright-grey);
    text-decoration: none;
    padding: 4px;
    transition: .5s ease;
}

.socials a:hover {
    font-size: 13px;
    text-decoration: underline;}


@media screen and (max-width: 400px) {
    .footer {
        flex-wrap: wrap;
    }
}

/* divider */

.dg-dashed {
    border: 1px dashed var(--dim-grey);
}
