:root {
    --violet:#AD91C4;
    --blue-green:#25BBC5;
    --lemon: #CFA726;
    --kobi: #DC9EC0;
    --eerie: #17191C;
    --charleston: #292B2F;
    --dim-grey: #696B6C;
    --bright-grey: #EBEDEE;
    --pale-silver: #D1CBB4;
}

body {
    background-color: var(--eerie);
    font-family: inclusive;
}

.wrapper {
    max-width: 600px;
    margin: auto;
    padding: 12px;
    color: var(--bright-grey)
}

.heading > h1 {
    font-family: heal-web;
    letter-spacing: 1px;
}

.collapsible {
    font-family: inclusive;
    background-color: var(--violet);
    border: none;
    text-align: left;
    width: fit-content;
    padding: 4px 8px;
    border-radius: 2px;
}

.collapsible:hover{
    background-color: var(--bright-grey);
    border-bottom: 2px solid var(--violet);
    padding: 5px 8px;
    box-shadow: 1px 1px #c193e7;
}

.content {
    display: none;
    font-size: 14px;
}

.mainContainer {
    font-family: inclusive;
}

.mainContainer a {
    color: var(--blue-green);
}

.flexRow {
    display: flex;
    gap: 12px;
}

.flexRow img {
    width: 100%;
}

.project {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px dashed var(--dim-grey);

    font-size: 12px;
}

.socials {
    display: flex;
}

.socials a {
    color: var(--bright-grey);
    text-decoration: none;
    padding: 4px;
}

.socials a:hover {
    background-color: var(--charleston);
}

/* .socials li {
    padding-right: 8px;
    list-style-type: none;
} */